/* Contacts.module.css */

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.containerphonebook {
  width: 400px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.hidden {
  display: none;
}
