.contacts {
  margin-bottom: 20px;
}

.contacts__title {
  margin-bottom: 10px;
}

.contacts__form {
  display: flex;
  flex-direction: column;
}

.contacts__label {
  margin-bottom: 10px;
}

.contacts__input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
}

.contacts__button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.contacts__button:hover {
  background-color: #45a049;
}
